<div *ngIf="!event; else elseBlock">
  <span class="spinner"></span>
</div>
<ng-template #elseBlock>
  <h1>{{ event.name }}</h1>
  <div class="clr-row">
    <div class="clr-col-4">
      <span>
        <b>{{ 'event.description' | translate }}</b>
      </span>
    </div>
    <div class="clr-col">
      <span>{{ event.description }}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-4">
      <span>
        <b>{{ 'event.eventType' | translate }}</b>
      </span>
    </div>
    <div class="clr-col">
      <span>{{ 'eventTypes.' + event.eventType | translate }}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-4">
      <span>
        <b>{{ 'event.attendeesLimit' | translate }}</b>
      </span>
    </div>
    <div class="clr-col">
      <span>{{ event.attendeesLimit }}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-4">
      <span>
        <b>{{ 'event.cost' | translate }}</b>
      </span>
    </div>
    <div class="clr-col">
      <span>{{ event.cost }}</span>
      <span> {{ currency }}</span>
    </div>
  </div>
  <div class="accordion-container">
    <clr-accordion clrAccordionMultiPanel="true">
      <clr-accordion-panel *ngFor="let meeting of event.meetings; let i = index">
        <clr-accordion-title>{{ meeting.description }}</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-4">
              <span>
                <b>{{ 'event.startTime' | translate }}</b>
              </span>
            </div>
            <div class="clr-col">
              <span>{{ meeting.start | date: 'short' }}</span>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-4">
              <span>
                <b>{{ 'event.endTime' | translate }}</b>
              </span>
            </div>
            <div class="clr-col">
              <span>{{ meeting.end | date: 'short' }}</span>
            </div>
          </div>
          <div class="clr-row">
            <div class="clr-col-4">
              <span>
                <b>{{ 'event.place' | translate }}</b>
              </span>
            </div>
            <div class="clr-col">
              <span>{{ meeting.place.name }}</span>
            </div>
          </div>
          <div class="clr-row" *ngFor="let speaker of meeting.speakers; let j = index">
            <div class="clr-col-4">
              <span>
                <b>{{ 'event.speaker' | translate }} {{ j + 1 }}</b>
              </span>
            </div>
            <div class="clr-col">
              <span>{{ speaker.name }} {{ speaker.surname }}</span>
            </div>
          </div>
          <br />
          <h3>Attendance list</h3>
          <button class="btn btn-primary" [routerLink]="['/main', 'check-attendance', meeting.id]">
            {{ 'attendance.checkAttendance' | translate }}
          </button>
          <clr-datagrid>
            <clr-dg-column>{{ 'attendanceList.userId' | translate }}</clr-dg-column>
            <clr-dg-column>{{ 'attendanceList.userSurname' | translate }}</clr-dg-column>
            <clr-dg-column>{{ 'attendanceList.userName' | translate }}</clr-dg-column>
            <clr-dg-column>{{ 'attendanceList.attendanceStatus' | translate }}</clr-dg-column>
            <clr-dg-placeholder>{{ 'attendanceList.empty' | translate }}</clr-dg-placeholder>
            <clr-dg-row *ngFor="let attendance of getAttendanceList(meeting.id)">
              <clr-dg-cell>{{ attendance.user.id }}</clr-dg-cell>
              <clr-dg-cell>{{ attendance.user.surname }}</clr-dg-cell>
              <clr-dg-cell>{{ attendance.user.name }}</clr-dg-cell>
              <clr-dg-cell [ngSwitch]="attendance.status">
                <clr-icon *ngSwitchCase="attendanceStatus.UNCHECKED" shape="unknown-status"></clr-icon>
                <clr-icon *ngSwitchCase="attendanceStatus.ABSENT" shape="times"></clr-icon>
                <clr-icon *ngSwitchCase="attendanceStatus.PRESENT" shape="check"></clr-icon>
                {{ 'attendanceStatus.' + attendance.status | translate }}
              </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
          <br />
          <app-attendance-list-pdf [meetingId]="meeting.id"></app-attendance-list-pdf>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
</ng-template>
