<clr-modal [(clrModalOpen)]="show">
  <div class="modal-title">
    {{ 'event.details' | translate }}
  </div>
  <div class="modal-body">
    <div *ngIf="!event; else elseBlock">
      <span class="spinner"></span>
    </div>
    <ng-template #elseBlock>
      <div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span
              ><b>{{ 'event.name' | translate }}</b></span
            >
          </div>
          <div class="clr-col">
            <span>{{ event.name }}</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span
              ><b>{{ 'event.description' | translate }}</b></span
            >
          </div>
          <div class="clr-col">
            <span>{{ event.description }}</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span
              ><b>{{ 'event.eventType' | translate }}</b></span
            >
          </div>
          <div class="clr-col">
            <span>{{ 'eventTypes.' + event.eventType | translate }}</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span
              ><b>{{ 'event.attendeesLimit' | translate }}</b></span
            >
          </div>
          <div class="clr-col">
            <span>{{ event.attendeesLimit }}</span>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-4">
            <span
              ><b>{{ 'event.cost' | translate }}</b></span
            >
          </div>
          <div class="clr-col">
            <span>{{ event.cost }}</span>
            <span> {{ currency }}</span>
          </div>
        </div>
        <div class="accordion-container">
          <clr-accordion clrAccordionMultiPanel="true">
            <clr-accordion-panel *ngFor="let meeting of event.meetings; let i = index">
              <clr-accordion-title>{{ 'event.meeting' | translate }} {{ i + 1 }}</clr-accordion-title>
              <clr-accordion-content *clrIfExpanded>
                <div class="clr-row">
                  <div class="clr-col-4">
                    <span
                      ><b>{{ 'event.description' | translate }}</b></span
                    >
                  </div>
                  <div class="clr-col">
                    <span>{{ meeting.description }}</span>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-4">
                    <span
                      ><b>{{ 'event.startTime' | translate }}</b></span
                    >
                  </div>
                  <div class="clr-col">
                    <span>{{ meeting.start | date: 'short' }}</span>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-4">
                    <span
                      ><b>{{ 'event.endTime' | translate }}</b></span
                    >
                  </div>
                  <div class="clr-col">
                    <span>{{ meeting.end | date: 'short' }}</span>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-4">
                    <span
                      ><b>{{ 'event.place' | translate }}</b></span
                    >
                  </div>
                  <div class="clr-col">
                    <span>{{ meeting.place.name }}</span>
                  </div>
                </div>
                <div class="clr-row" *ngFor="let speaker of meeting.speakers; let j = index">
                  <div class="clr-col-4">
                    <span
                      ><b>{{ 'event.speaker' | translate }} {{ j + 1 }}</b></span
                    >
                  </div>
                  <div class="clr-col">
                    <span>{{ speaker.name }} {{ speaker.surname }}</span>
                  </div>
                </div>
              </clr-accordion-content>
            </clr-accordion-panel>
          </clr-accordion>
        </div>
        <div class="button-container">
          <ng-container *ngIf="!isLoading; else loading">
            <ng-container [ngSwitch]="enrollmentStatus">
              <button *ngSwitchCase="enrollmentStatusEnum.NOT_ENROLLED" class="btn btn-primary" (click)="onRegister()">
                {{ 'event.register' | translate }}
              </button>
              <div class="button-row" *ngSwitchCase="enrollmentStatusEnum.PENDING">
                <button class="btn btn-primary" (click)="onPayNow()">
                  {{ 'event.payNow' | translate }}
                </button>
                <button class="btn btn-warning">
                  {{ 'event.pending' | translate }}
                </button>
              </div>
              <button *ngSwitchCase="enrollmentStatusEnum.ENROLLED" class="btn btn-success">
                {{ 'event.alreadyRegistered' | translate }}
              </button>
            </ng-container>
          </ng-container>
          <ng-template #loading>
            <span class="spinner spinner-inline">
              {{ 'misc.loading' | translate }}
            </span>
            <span>
              {{ 'misc.loading' | translate }}
            </span>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</clr-modal>
