<div>
  <button class="btn btn-primary" type="button" (click)="onDownloadPDF()">
    Download
  </button>
  <div id="htmlData" #htmlData style="visibility: hidden;">
    <table id="pdfData">
        <thead class="table">
          <tr>
            <th>{{ 'event.id' | translate }}</th>
            <th>{{ 'event.name' | translate }}</th>
            <th>{{ 'event.description' | translate }}</th>
            <th>{{ 'event.eventType' | translate }}</th>
            <th>{{ 'event.attendeesLimit' | translate }}</th>
            <th>{{ 'event.startTime' | translate }}</th>
            <th>{{ 'event.endTime' | translate }}</th>
            <th>{{ 'event.organizer' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.id }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.eventType }}</td>
            <td>{{ event.attendeesLimit }}</td>
            <td>{{ event.start }}</td>
            <td>{{ event.end }}</td>
            <td>{{ event.organizer.username }}</td>
          </tr> 
        </tbody>
    </table>
  </div>
</div>
