<div>
  <div *ngIf="isAndroid">
    <button class="btn btn-primary" (click)="onScanCode()" *ngIf="!loadingScanner">Scan QR code</button>
    <div *ngIf="loadingScanner">
      <span class="spinner"></span>
    </div>
  </div>
  <div *ngIf="!isAndroid" class="alert alert-danger">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        {{ 'scan.androidRequiredMessage' | translate }}
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="scanSuccess">
      <div class="alert alert-success">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            Attendance confirmed (Attendance ID: {{ attendanceId }})
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!scanSuccess">
      <div class="alert alert-danger">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            {{ scanError }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
