<clr-main-container>
  <app-app-level-alert></app-app-level-alert>
  <clr-header class="header-6">
    <div class="branding">
      <a routerLink="/main">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ 'global.appName' | translate }}</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link nav-text" routerLinkActive="active" routerLink="./">{{ 'main.general' | translate }}</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{ (currentUser$ | async)?.email }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="onLogout()">{{ 'main.logout' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="sidenavCollapsed">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="my-events">
        <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
        {{ 'main.myEvents' | translate }}
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="all-events">
        <clr-icon clrVerticalNavIcon shape="calendar"></clr-icon>
        {{ 'main.allEvents' | translate }}
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="my-attendances">
        <clr-icon clrVerticalNavIcon shape="list"></clr-icon>
        {{ 'main.myAttendances' | translate }}
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="new-event">
        <clr-icon clrVerticalNavIcon shape="plus"></clr-icon>
        {{ 'main.newEvent' | translate }}
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="all-payments">
        <clr-icon clrVerticalNavIcon shape="dollar"></clr-icon>
        {{ 'main.allPayments' | translate }}
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
