<form clrForm [formGroup]="eventForm" class="form-flex">
  <h2>{{ 'event.details' | translate }}</h2>
  <clr-input-container>
    <label>{{ 'event.name' | translate }}</label>
    <input
      type="text"
      name="name"
      clrInput
      [placeholder]="'event.name' | translate"
      formControlName="name"
      class="apsi-input"
    />
    <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
  </clr-input-container>
  <clr-textarea-container>
    <label>{{ 'event.description' | translate }}</label>
    <textarea
      clrTextarea
      name="description"
      [placeholder]="'event.description' | translate"
      formControlName="description"
      class="apsi-input"
    ></textarea>
    <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
  </clr-textarea-container>
  <clr-select-container>
    <label>{{ 'event.eventType' | translate }}</label>
    <select clrSelect name="eventType" formControlName="eventType" class="apsi-select">
      <option [value]="null" disabled>---</option>
      <option *ngFor="let eventType of eventTypes" [value]="eventType">
        {{ 'eventTypes.' + eventType | translate }}
      </option>
    </select>
    <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
  </clr-select-container>
  <clr-input-container>
    <label>{{ 'event.attendeesLimit' | translate }}</label>
    <input
      type="number"
      name="attendeesLimit"
      clrInput
      [placeholder]="'event.attendeesLimit' | translate"
      formControlName="attendeesLimit"
      class="apsi-input"
    />
    <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>{{ 'event.cost' | translate }} {{ currency }}</label>
    <input
      type="number"
      name="cost"
      clrInput
      [placeholder]="'event.cost' | translate"
      formControlName="cost"
      class="apsi-input"
    />
  </clr-input-container>

  <div formArrayName="meetings">
    <h2>{{ 'event.meetings' | translate }}</h2>
    <div *ngFor="let meeting of getMeetings().controls; let i = index" [formGroupName]="i">
      <h4>{{ 'event.meeting' | translate }} {{ i + 1 }}</h4>
      <clr-textarea-container>
        <label>{{ 'event.description' | translate }}</label>
        <textarea
          clrTextarea
          name="description"
          [placeholder]="'event.description' | translate"
          formControlName="description"
          class="apsi-input"
        ></textarea>
      </clr-textarea-container>
      <clr-date-container>
        <label>{{ 'event.startDate' | translate }}</label>
        <input type="date" clrDate name="startDate" formControlName="startDate" class="apsi-date" />
        <clr-control-error *ngIf="meeting.get('startDate').errors?.required">
          {{ 'event.thisFieldIsRequired' | translate }}
        </clr-control-error>
        <clr-control-error *ngIf="meeting.get('startDate').errors?.dateFormat">
          {{ 'event.invalidDateFormat' | translate }}
        </clr-control-error>
      </clr-date-container>
      <clr-input-container>
        <label>{{ 'event.startTime' | translate }}</label>
        <input
          type="time"
          name="startTime"
          clrInput
          [placeholder]="'event.startTime' | translate"
          formControlName="startTime"
          class="apsi-input"
        />
        <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
      </clr-input-container>
      <clr-date-container>
        <label>{{ 'event.endDate' | translate }}</label>
        <input type="date" clrDate name="endDate" formControlName="endDate" class="apsi-date" />
        <clr-control-error *ngIf="meeting.get('endDate').errors?.required"
          >{{ 'event.thisFieldIsRequired' | translate }}
        </clr-control-error>
        <clr-control-error *ngIf="meeting.get('endDate').errors?.dateFormat"
          >{{ 'event.invalidDateFormat' | translate }}
        </clr-control-error>
      </clr-date-container>
      <clr-input-container>
        <label>{{ 'event.endTime' | translate }}</label>
        <input
          type="time"
          name="endTime"
          clrInput
          [placeholder]="'event.endTime' | translate"
          formControlName="endTime"
          class="apsi-input"
        />
        <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
      </clr-input-container>
      <div *ngIf="meeting.errors?.dateDependence" class="alert alert-danger" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              {{ 'event.timeError' | translate }}
            </span>
          </div>
        </div>
      </div>
      <clr-select-container>
        <label>{{ 'event.place' | translate }}</label>
        <select clrSelect name="eventType" formControlName="place" class="apsi-select">
          <option [value]="null" disabled>---</option>
          <option *ngFor="let place of availablePlaces[i]" [ngValue]="place.id">{{ place.name }}</option>
        </select>
        <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
      </clr-select-container>
      <div formArrayName="speakers">
        <div *ngFor="let speaker of getSpeakers(i).controls; let j = index" [formGroupName]="j">
          <clr-select-container>
            <label>{{ 'event.speaker' | translate }}</label>
            <select clrSelect name="eventType" formControlName="speaker" class="apsi-select">
              <option [value]="null" disabled>---</option>
              <option *ngFor="let user of availableSpeakers[i]" [ngValue]="user.id">
                {{ user.name }} {{ user.surname }}
              </option>
            </select>
            <clr-control-error>{{ 'event.thisFieldIsRequired' | translate }}</clr-control-error>
          </clr-select-container>
        </div>
      </div>
      <br />
      <div class="btn-group btn-outline-primary btn-sm">
        <button class="btn" (click)="addSpeaker(i)" type="button">{{ 'event.addSpeaker' | translate }}</button>
        <button class="btn" (click)="deleteMeeting(i)" type="button">{{ 'event.deleteMeeting' | translate }}</button>
      </div>
    </div>
    <br />
    <button class="btn btn-sm" (click)="addMeeting()" type="button">{{ 'event.addMeeting' | translate }}</button>
    <div *ngIf="getMeetings().errors?.noMeeting" class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
            {{ 'event.noMeetingError' | translate }}
          </span>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div *ngIf="createError" class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          {{ 'event.failedToCreate' | translate }}
        </span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="!eventForm.valid">
    {{ 'event.submit' | translate }}
  </button>
</form>
